certifi==2021.10.8
charset-normalizer==2.0.12
clip==1.0
cmake==3.22.2
coloredlogs==15.0.1
cssutils==2.4.0
cycler==0.11.0
diffvg==0.0.1
fonttools==4.29.1
ftfy==6.1.1
greenlet==1.1.2
humanfriendly==10.0
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.2
kiwisolver==1.3.2
llvmlite==0.38.0
MarkupSafe==2.1.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.5
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyaml==21.10.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.2
requests==2.27.1
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
SQLAlchemy==1.4.32
svgpathtools==1.4.4
svgwrite==1.4.1
torch==1.7.1+rocm3.8
torch-tools==0.1.5
torchfile==0.1.0
torchvision==0.8.2+cu92
tornado==6.1
tqdm==4.63.0
typing-extensions==4.1.1
urllib3==1.26.8
visdom==0.1.8.9
wcwidth==0.2.5
websocket-client==1.3.1
